<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="container about">
<h1>${_("Terms of Service")}</h1>
<h3 id="privacy">Política de Privacidade</h3>
<p>A politica de privacidade será definido consultando a comunidade USP.</p>
<h3 id="copyright">Uso e Reuso do material</h3>
<p>Os direitos autorais são dos autores e as licenças dando ao público alguns direitos de redistribuição, uso e reuso serão discutidos com a comunidade.</p>
</section>

