## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">Termos</a></li>
          <li><a href="${reverse('tos')}#privacy">Privacidade</a></li>
          <li><a href="${reverse('tos')}#copyright">Direitos</a></li>
          <li><a href="${reverse('about_edx')}#contact">Contato</a></li>
          <li><a href="${marketing_link('FAQ')}">Ajuda</a></li>
        </ol>
      </nav>
    </div>
    <div class="credits">
      <nav class="nav-credits">
        <ol>
          <li><a href="http://atp.usp.br/" title="Grupo ATP - Apoio Técnico-Pedagógico" target="_blank"><img src="/static/themes/atp/images/atp.png" /></a></li>
	  <li><a href="http://code.edx.org" title="Feito com OpenEdX" target="_blank"><img src="/static/images/header-logo.png" /></a></li>
	</ol>
      </nav>
    </div>
  </footer>
</div>
